.form {
  padding-bottom: 20px;

  &__price {
    display: flex;
    width: 100%;
    border-bottom: 1px dashed #e6e6e6;
  }

  &__orders {
    padding: 13px 20px;
    display: flex;
    gap: 20px;
  }

  &__timer {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-color: rgb(248, 43, 0);
    color: white;
    font-size: 14px;
  }

  h2 {
    color: #f30202;
    margin-top: 30px;

    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  h2+p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    text-wrap: balance;
    padding: 0 30px;
  }

  form {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 66px;
    color: rgb(68 68 68);
    background-color: rgb(245, 245, 245);
    padding: 0px 20px 0px 50px;
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);

    &:hover {
      background-color: rgba(245, 245, 245, 0.5);
    }

    &:focus {
      background-color: rgba(245, 245, 245, 0.5);
      border: 1px solid rgb(174, 174, 174);
    }
  }

  button {
    display: block;
    border-radius: 4px;
    line-height: 80px;
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.24);
    background: linear-gradient(to bottom, #0fe446 0%, #08a42a 50%, #01670f 100%);

    &:hover {
      box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
    }
  }
}